<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        #add-form {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
        }

        input[type="file"] {
            border: none;
            padding: 0;
            background-color: transparent;
            margin-top: 10px;
        }

        button[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        @media (max-width: 500px) {
            #add-form {
                width: 90%;
            }
        }

        .back-btn {
            display: flex;
            justify-content: right;
        }
    </style>
</head>
    <body>
        <section id="add-form">
            <div class="back-btn">
                <a href="/main"><button>X</button></a>
            </div>
            <form action="/edit/<%= recipe.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" value="<%= recipe.title %>" required>
                <textarea name="ingredients" required><%= recipe.ingredients %></textarea>
                <textarea name="instructions" required><%= recipe.instructions %></textarea>
                <input type="file" name="newImage" accept="image/*">
                <button type="submit">Save Changes</button>
            </form>
        </section>
    </body>
</html>
